<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WeatherMe</title>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"
      integrity="sha512-KZmyTq3PLx9EZl0RHShHQuXtrvdJ+m35tuOiwlcZfs/rE7NZv29ygNA8SFCkMXTnYZQK2OX0Gm2qKGfvWEtRXA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body ng-app="my-app">
    <section class="main" ng-controller="app-controller">
      <img class="overlayimg" src="./Assets/Cloudy.jpg" alt="" />
      <div class="overlay"></div>
      <div>
        <div class="row g-0">
          <div class="col-xl-8 col-lg-6 cntr">
            <div class="temp py-5 d-flex flex-column justify-content-between">
              <nav class="navbar navi">
                <div>
                  <span class="lnr lnr-cloud-check"></span> <span>Weather</span>
                </div>
                <a
                  class="hamburger"
                  data-bs-toggle="offcanvas"
                  href="#offcanvasExample"
                  role="button"
                  aria-controls="offcanvasExample"
                >
                  <span class="lnr lnr-menu"></span>
                </a>
              </nav>

              <div
                class="offcanvas offcanvas-start"
                tabindex="-1"
                id="offcanvasExample"
                aria-labelledby="offcanvasExampleLabel"
              >
                <div class="offcanvas-body">
                  <div class="sidebar">
                    <a
                      class="navi hamburger align-self-end"
                      data-bs-toggle="offcanvas"
                      href="#offcanvasExample"
                      role="button"
                      aria-controls="offcanvasExample"
                    >
                      <span class="lnr lnr-cross"></span>
                    </a>
                    <div>
                      <h3>Search</h3>
                      <div class="search">
                        <div>
                          <input
                            type="text"
                            placeholder="Location"
                            ng-model="value"
                          />
                        </div>
                        <button ng-click="getWeather(value)">
                          <span class="lnr lnr-magnifier"></span>
                        </button>
                      </div>
                    </div>
                    <hr />
                    <div class="weatherDetails">
                      <h3>Weather Details</h3>
                      <div class="d-flex justify-content-between my-3">
                        <div>Wind</div>
                        <div>{{weatherList[0].wind.speed}}km/hr</div>
                      </div>
                      <div class="d-flex justify-content-between my-3">
                        <div>Humidity</div>
                        <div>{{weatherList[0].main.humidity}}%</div>
                      </div>
                      <div class="d-flex justify-content-between my-3">
                        <div>Weather Description</div>
                        <div class="capital">
                          {{weatherList[0].weather[0].description}}
                        </div>
                      </div>
                    </div>
                    <hr />
                    <div class="nextDays">
                      <h3>Hourly</h3>
                      <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                          <div
                            class="swiper-slide"
                            ng-repeat="item in weatherList"
                          >
                            <div ng-if="item.weather[0].main=='Rain'">
                              <img src="./Assets/icons/rainy.svg" alt="" />
                            </div>
                            <div ng-if="item.weather[0].main=='Clouds'">
                              <img src="./Assets/icons/cloud.svg" alt="" />
                            </div>
                            <div ng-if="item.weather[0].main=='Clear'">
                              <img src="./Assets/icons/sun.svg" alt="" />
                            </div>
                            <div>{{(item.main.temp - 32) * 5/9 | ceil}}°</div>
                            <div>{{item.dt_txt.split(" ")[0]}}</div>
                            <div class="capital">
                              {{item.weather[0].description}}
                            </div>
                            <div>{{item.dt_txt.split(" ")[1]}}</div>
                          </div>
                        </div>
                        <div class="swiper-pagination"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="Temprature">
                <div class="tempr me-3">
                  {{ (weatherList[0].main.temp - 32) * 5/9 | ceil}}°C
                </div>
                <div class="city me-4">
                  <div class="text-center">{{city}}</div>
                  <div class="text-center">{{weatherList[0].dt_txt}}</div>
                </div>
                <div class="status">
                  <div class="text-center">
                    <div ng-if="weatherList[0].weather[0].main=='Rain'">
                      <img src="./Assets/icons/rainy.svg" alt="" />
                    </div>
                    <div ng-if="weatherList[0].weather[0].main=='Clouds'">
                      <img src="./Assets/icons/cloud.svg" alt="" />
                    </div>
                    <div ng-if="weatherList[0].weather[0].main=='Clear'">
                      <img src="./Assets/icons/sun.svg" alt="" />
                    </div>
                  </div>
                  <div>{{weatherList[0].weather[0].main}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="visibliti col-xl-4 col-lg-6 sidebar">
            <div>
              <h3>Search</h3>
              <div class="search">
                <div>
                  <input type="text" placeholder="Location" ng-model="value" />
                </div>
                <button ng-click="getWeather(value)">
                  <span class="lnr lnr-magnifier"></span>
                </button>
              </div>
            </div>
            <hr />
            <div class="weatherDetails">
              <h3>Weather Details</h3>
              <div class="d-flex justify-content-between my-3">
                <div>Wind</div>
                <div>{{weatherList[0].wind.speed}}km/hr</div>
              </div>
              <div class="d-flex justify-content-between my-3">
                <div>Humidity</div>
                <div>{{weatherList[0].main.humidity}}%</div>
              </div>
              <div class="d-flex justify-content-between my-3">
                <div>Weather Description</div>
                <div class="capital">
                  {{weatherList[0].weather[0].description}}
                </div>
              </div>
            </div>
            <hr />
            <div class="nextDays">
              <h3>Hourly</h3>
              <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide" ng-repeat="item in weatherList">
                    <div ng-if="item.weather[0].main=='Rain'">
                      <img src="./Assets/icons/rainy.svg" alt="" />
                    </div>
                    <div ng-if="item.weather[0].main=='Clouds'">
                      <img src="./Assets/icons/cloud.svg" alt="" />
                    </div>
                    <div ng-if="item.weather[0].main=='Clear'">
                      <img src="./Assets/icons/sun.svg" alt="" />
                    </div>
                    <div>{{(item.main.temp - 32) * 5/9 | ceil}}°</div>
                    <div>{{item.dt_txt.split(" ")[0]}}</div>
                    <div class="capital">{{item.weather[0].description}}</div>
                    <div>{{item.dt_txt.split(" ")[1]}}</div>
                  </div>
                </div>
                <div class="swiper-pagination"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  ></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 2,
      spaceBetween: 30,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });
  </script>
  <script src="./script.js"></script>
</html>
